#layout-footer {
  color: white;
  background: grey;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: 0; }
  #layout-footer a {
    color: white;
    text-decoration: none;
    display: block; }
  #layout-footer .footer-nav ul {
    list-style: none;    
    display: flex;
    justify-content: space-around;}
